@use "./reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap");
@font-face {
  font-family: "Flower";
  src: url("../fonts/flower-webfont.woff2") format("woff2"),
    url("../fonts/flower-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

// div,
// p {
//   border: solid 1px red;
// }

html,
body {
  height: 100vh;
}

body {
  background: url("../images/vietnam-street.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;
}

.header > div {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: lightblue;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .title {
  margin-top: 200px;
  font-family: "Playfair Display", sans-serif;
  font-size: 128px;
  text-align: center;
  color: white;
  padding-bottom: 40px;
  border-bottom: solid 2px white;
  margin: 150px 10px 0 10px;
}

.home .subtitle {
  padding-top: 40px;
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
}

.menu > .title {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  font-size: 60px;
  margin-top: 30px;
}

.menu .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 16px;
}

.menu .item {
  display: grid;
  grid-template-areas:
    "picture title price"
    "picture description description";
  color: white;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  max-width: 1000px;
}

.menu .items .title {
  grid-area: title;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.menu .description {
  grid-area: description;
  display: flex;
  align-items: flex-start;
}

.menu .price {
  grid-area: price;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
}

.menu .picture {
  grid-area: picture;
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.contact {
  color: white;
}

.container > .home {
  margin-top: 30px;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  color: white;
}
